# Data Cleaning Project

In [313]:
# Importing required libraries
import pandas as pd
import numpy as np

In [314]:
# Loading dataset
try:
    file_path = r"D:\personalData\dataCleaning\marketing_campaign_data_messy.csv"
    df = pd.read_csv(file_path)
    display(df.head())
except FileNotFoundError:
    print("File not found!")

,Campaign_ID,Campaign_Name,Start_Date,End_Date,Channel,Impressions,Clicks,Spend,Conversions,Active,Clicks,Campaign_Tag
0,CMP-00001,Q4_Summer_CMP-00001,2023-11-24 00:00:00,2023-12-13,TikTok,16795,197,$102.82,20.0,Y,NaN,TI
1,CMP-00002,Q1_Launch_CMP-00002,2023-05-06 00:00:00,2023-05-12,Facebook,1860,30,24.33,1.0,0,NaN,FA
2,CMP-00003,Q3_Winter_CMP-00003,2023-12-13 00:00:00,2023-12-20,Email,77820,843,1323.39,51.0,No,NaN,EM
3,CMP-00004,Q1_BlackFriday_CMP-00004,2023-10-30,2023-11-03,TikTok,55886,2019,2180.38,135.0,True,NaN,TI
4,CMP-00005,Q2_Winter_CMP-00005,2023-04-22 00:00:00,2023-04-23,Facebook,7265,169,252.44,30.0,Yes,NaN,FA

In [315]:
print(f"Dataframe shape: {df.shape}")

Dataframe shape: (2020, 12)

In [316]:
# =================================
# Knowing dataset basic info
# =================================

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2020 entries, 0 to 2019
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0    Campaign_ID   2020 non-null   object
 1   Campaign_Name  2020 non-null   object
 2   Start_Date     2020 non-null   object
 3   End_Date       2020 non-null   object
 4   Channel        1919 non-null   object
 5   Impressions    2020 non-null   int64
 6   Clicks         2020 non-null   int64
 7   Spend          2020 non-null   object
 8   Conversions    1820 non-null   float64
 9   Active         2020 non-null   object
 10  Clicks         40 non-null     float64
 11  Campaign_Tag   2020 non-null   object
dtypes: float64(2), int64(2), object(8)
memory usage: 189.5+ KB

In [317]:
# =====================================
# Checking missing values
# =====================================

missing_count = df.isnull().sum()
missing_pct = round(df.isnull().mean(), 2) * 100
missing_summary = pd.DataFrame({"count": missing_count, "percentage": missing_pct})
print(missing_summary)

               count  percentage
 Campaign_ID       0         0.0
Campaign_Name      0         0.0
Start_Date         0         0.0
End_Date           0         0.0
Channel          101         5.0
Impressions        0         0.0
Clicks             0         0.0
Spend              0         0.0
Conversions      200        10.0
Active             0         0.0
Clicks          1980        98.0
Campaign_Tag       0         0.0

In [318]:
# ==============================
# Checking duplicates
# ==============================

print(f"Number of duplicated: {df.duplicated().sum()}")
print("-"*50)
print("Duplicated records:")
df[df.duplicated()].sort_values(by=df.columns[0], ascending=False)

Number of duplicated: 19
--------------------------------------------------
Duplicated records:

,Campaign_ID,Campaign_Name,Start_Date,End_Date,Channel,Impressions,Clicks,Spend,Conversions,Active,Clicks,Campaign_Tag
2000,CMP-01881,Q1_BlackFriday_CMP-01881,2023-12-28 00:00:00,2024-01-10,Google Ads,53098,559,992.65,63.0,No,NaN,GO
2004,CMP-01602,Q1_Winter_CMP-01602,11/11/2023,2023-11-21,Google Ads,11816,374,460.42,67.0,False,NaN,GO
2006,CMP-01559,Q3_Winter_CMP-01559,2023-12-17 00:00:00,2023-12-20,Google Ads,79187,2248,1796.19,148.0,Y,NaN,GO
2019,CMP-01554,Q4_Launch_CMP-01554,2023-06-26 00:00:00,2023-07-09,Email,96402,1090,1315.59,66.0,Y,NaN,EM
2007,CMP-01489,Q4_Summer_CMP-01489,2023-05-29 00:00:00,2023-06-04,NaN,7960,271,141.35,35.0,Y,NaN,XX
2002,CMP-01426,Q3_Launch_CMP-01426,2023-01-21 00:00:00,2023-01-29,Email,30373,1454,$2640.72,110.0,Yes,NaN,EM
2009,CMP-01321,Q1_Winter_CMP-01321,2023-07-03 00:00:00,2023-07-21,Facebook,32480,943,1374.45,173.0,Yes,NaN,FA
2001,CMP-01292,Q4_Winter_CMP-01292,2023-07-07 00:00:00,2023-07-20,Google Ads,39258,1290,2331.0,123.0,False,NaN,GO
2005,CMP-01256,Q3_Launch_CMP-01256,2023-09-17 00:00:00,2023-10-10,Email,11395,320,232.66,40.0,1,NaN,EM
2016,CMP-01255,Q4_Summer_CMP-01255,2023-09-01 00:00:00,2023-09-26,Google Ads,20097,897,1641.0,162.0,0,NaN,GO
2012,CMP-01200,Q3_BlackFriday_CMP-01200,2023-09-25 00:00:00,2023-10-15,Email,54028,2254,1991.67,139.0,0,NaN,EM
2018,CMP-01118,Q4_Winter_CMP-01118,2023-03-30 00:00:00,2023-04-27,Facebook,68728,2960,4198.5,591.0,Yes,NaN,FA
2003,CMP-01064,Q2_Summer_CMP-01064,2023-05-02 00:00:00,2023-05-28,Facebook,64076,1065,1371.03,169.0,1,NaN,FA
2017,CMP-01050,Q2_Launch_CMP-01050,2023-02-09 00:00:00,2023-02-21,Instagram,33254,1117,883.82,214.0,0,NaN,IN
2011,CMP-01028,Q4_Summer_CMP-01028,2023-12-24 00:00:00,2024-01-05,TikTok,54441,2158,$2422.76,252.0,Yes,NaN,TI
2010,CMP-00439,Q1_Launch_CMP-00439,2023-08-03 00:00:00,2023-08-27,Google Ads,88235,3182,5093.82,385.0,1,NaN,GO
2015,CMP-00400,Q3_Summer_CMP-00400,2023-10-31 00:00:00,2023-11-13,TikTok,30592,586,$503.95,77.0,1,NaN,TI
2013,CMP-00388,Q1_Summer_CMP-00388,2023-06-20 00:00:00,2023-06-25,TikTok,57958,2328,$2135.23,280.0,Y,NaN,TI
2014,CMP-00185,Q3_Launch_CMP-00185,2023-08-03 00:00:00,2023-08-27,Facebok,56016,1728,1890.33,128.0,No,NaN,FA

In [319]:
# ================================
# Getting Summary Statistics
# ================================

print("Summary Statistics for Numerical variables:\n")
df.describe()

Summary Statistics for Numerical variables:

        Impressions      Clicks   Conversions        Clicks
count   2020.000000  2020.000000  1820.000000     40.000000
mean   49839.896040  1500.744059   186.085714  54856.200000
std    28579.637473  1084.765654   160.129172  30552.773369
min     1055.000000    11.000000     0.000000   2508.000000
25%    25033.500000   650.750000    68.000000  30164.750000
50%    50097.500000  1245.000000   142.000000  57707.500000
75%    74784.250000  2185.250000   257.000000  81497.500000
max    99875.000000  4812.000000   943.000000  99483.000000

In [320]:
# =========================================================
# Getting Summary Statistics for Categorical variables
# =========================================================

print("Summary Statistics for Categorical variables:\n")
df.describe(exclude="number").T

Summary Statistics for Categorical variables:

              count unique                  top freq
 Campaign_ID   2020   2000            CMP-01377    2
Campaign_Name  2020   2000  Q1_Winter_CMP-01377    2
Start_Date     2020    624  2023-10-15 00:00:00   12
End_Date       2020    387           2023-08-27   13
Channel        1919     10               TikTok  399
Spend          2020   1993             500000.0    5
Active         2020      7                    1  319
Campaign_Tag   2020      8                   TI  400

In [321]:
# ===================================================================
# Getting Unique count and Unique values for each Categorical column
# ===================================================================

categorical_variables = df.select_dtypes(include="O").columns

for col in categorical_variables:
    print(f"=== {col} ===")
    print(f"Unique count: {df[col].nunique()}")
    print(f"Unique values: {df[col].unique()[0:15]}\n")

===  Campaign_ID  ===
Unique count: 2000
Unique values: ['CMP-00001' 'CMP-00002' 'CMP-00003' 'CMP-00004' 'CMP-00005' 'CMP-00006'
 'CMP-00007' 'CMP-00008' 'CMP-00009' 'CMP-00010' 'CMP-00011' 'CMP-00012'
 'CMP-00013' 'CMP-00014' 'CMP-00015']

=== Campaign_Name ===
Unique count: 2000
Unique values: ['Q4_Summer_CMP-00001' 'Q1_Launch_CMP-00002' 'Q3_Winter_CMP-00003'
 'Q1_BlackFriday_CMP-00004' 'Q2_Winter_CMP-00005'
 'Q4_BlackFriday_CMP-00006' 'Q3_Launch_CMP-00007' 'Q4_Launch_CMP-00008'
 'Q4_BlackFriday_CMP-00009' 'Q2_Winter_CMP-00010' 'Q4_Launch_CMP-00011'
 'Q4_Launch_CMP-00012' 'Q2_Launch_CMP-00013' 'Q1_Launch_CMP-00014'
 'Q2_Summer_CMP-00015']

=== Start_Date ===
Unique count: 624
Unique values: ['2023-11-24 00:00:00' '2023-05-06 00:00:00' '2023-12-13 00:00:00'
 '2023-10-30' '2023-04-22 00:00:00' '2023-10-15 00:00:00'
 '2023-10-07 00:00:00' '2023-05-23' '2023-03-23 00:00:00'
 '2023-03-21 00:00:00' '22/02/2023' '2023-02-19 00:00:00'
 '2023-05-16 00:00:00' '2023-10-02 00:00:00' '2023-02-10 00:00:00']

=== End_Date ===
Unique count: 387
Unique values: ['2023-12-13' '2023-05-12' '2023-12-20' '2023-11-03' '2023-04-23'
 '2023-10-28' '2023-10-23' '2023-05-28' '2023-04-01' '2023-03-01'
 '2023-02-20' '2023-06-01' '2023-10-15' '2023-02-16' '2023-11-23']

=== Channel ===
Unique count: 10
Unique values: ['TikTok' 'Facebook' 'Email' 'Instagram' 'Google Ads' 'E-mail' nan 'Gogle'
 'Tik_Tok' 'Facebok' 'Insta_gram']

=== Spend ===
Unique count: 1993
Unique values: ['$102.82' '24.33' '1323.39' '2180.38' '252.44' '2697.03' '1232.76'
 '865.7' '1046.18' '1623.56' '523.13' '1267.69' '5292.16' '1464.72'
 '139.18']

=== Active ===
Unique count: 7
Unique values: ['Y' '0' 'No' 'True' 'Yes' '1' 'False']

=== Campaign_Tag ===
Unique count: 8
Unique values: ['TI' 'FA' 'EM' 'IN' 'GO' 'E-' 'INVALID' 'XX']

## Data Cleaning

In [322]:
# ================================
# Copy dataset to clean
# ================================

clean_df = df.copy()

In [323]:
# ======================================
# Changing Column Names
# ======================================

print(f"Dataset columns:\n {clean_df.columns.to_list()}\n")
# Fixing column names
clean_df.columns = clean_df.columns.str.strip().str.lower()

print("FIX Applied:")
print(clean_df.columns.to_list())

Dataset columns:
 [' Campaign_ID ', 'Campaign_Name', 'Start_Date', 'End_Date', 'Channel', 'Impressions', 'Clicks ', 'Spend', 'Conversions', 'Active', 'Clicks', 'Campaign_Tag']

FIX Applied:
['campaign_id', 'campaign_name', 'start_date', 'end_date', 'channel', 'impressions', 'clicks', 'spend', 'conversions', 'active', 'clicks', 'campaign_tag']

In [324]:
dup_cols = clean_df.columns[clean_df.columns.duplicated()].tolist()

for col in dup_cols:
    # Keep first instance, drop later duplicates
    clean_df = clean_df.loc[:, ~clean_df.columns.duplicated(keep='first')]

print(f"After dropping duplicated columns, Columns:\n {clean_df.columns.tolist()}")

After dropping duplicated columns, Columns:
 ['campaign_id', 'campaign_name', 'start_date', 'end_date', 'channel', 'impressions', 'clicks', 'spend', 'conversions', 'active', 'campaign_tag']

In [325]:
# ================================================
# Cleaning inconsistent text of "channel" column
# ================================================

print("=== channel ===\n")
print(f"Before cleaning: {df["Channel"].unique()}\n")

channel_map = {'Tik_Tok': 'TikTok', 'Facebok': 'Facebook', 'Gogle': 'Google Ads', 'Insta_gram': 'Instagram', 'E-mail': 'Email'}

clean_df["channel"] = clean_df["channel"].replace(channel_map)

print(f"After cleaning: {clean_df["channel"].unique()}\n")

=== channel ===

Before cleaning: ['TikTok' 'Facebook' 'Email' 'Instagram' 'Google Ads' 'E-mail' nan 'Gogle'
 'Tik_Tok' 'Facebok' 'Insta_gram']

After cleaning: ['TikTok' 'Facebook' 'Email' 'Instagram' 'Google Ads' nan]

In [326]:
# ================================================
# Cleaning inconsistent text of "active" column
# ================================================

print("=== active ===\n")
print(f"Before cleaning: {df["Active"].unique()}\n")

active_map = {'Y': True, '0': False, 'True': True, 'No': False, 'Yes': True, '1': True, 'False': False}

clean_df["active"] = clean_df["active"].map(active_map)

print(f"After cleaning: {clean_df["active"].unique()}")

=== active ===

Before cleaning: ['Y' '0' 'No' 'True' 'Yes' '1' 'False']

After cleaning: [ True False]

In [327]:
# =========================================================
# Cleaning and converting datatype of "spend" column
# =========================================================

spend_mask = clean_df["spend"].astype('str').str.contains(r"\$", na=False)
print(clean_df.loc[spend_mask, ["campaign_id", "spend"]].head(3))

print("\nAfter cleaning:")
clean_df["spend"] = pd.to_numeric(clean_df["spend"].astype('str').str.strip("$"), errors="coerce")
print(clean_df.loc[spend_mask, ["campaign_id", "spend"]].head(3))

   campaign_id     spend
0    CMP-00001   $102.82
21   CMP-00022   $2428.4
22   CMP-00023  $4726.22

After cleaning:
   campaign_id    spend
0    CMP-00001   102.82
21   CMP-00022  2428.40
22   CMP-00023  4726.22

In [328]:
# =====================================
# Datatype convertion (Convert to Date)
# =====================================

convert_to_date = ["start_date", "end_date"]

print(f"Before converting:\n{clean_df[convert_to_date].dtypes}\n")

clean_df[convert_to_date] = clean_df[convert_to_date].apply(
    pd.to_datetime, errors="coerce"
)

print(f"After converting:\n{clean_df[convert_to_date].dtypes}")

Before converting:
start_date    object
end_date      object
dtype: object

After converting:
start_date    datetime64[ns]
end_date      datetime64[ns]
dtype: object

In [329]:
# =================================
# Handling Duplicated records
# =================================

clean_df.drop_duplicates(inplace=True)

print(f"Dataset shape: {clean_df.shape}")

Dataset shape: (2001, 11)

In [330]:
# ====================================
# Detection & Handling missing values
# ====================================
print(f"Missing values before cleaning:\n {clean_df.isna().sum()}")
print("-"*30)

# Dropping missing values rows
print(clean_df.dropna(axis=0, inplace=True))

print(f"\nMissing value after cleaning:\n {clean_df.isnull().sum()}")
print(f"Dataframe shape after removing missing vlaues: {clean_df.shape}")

Missing values before cleaning:
 campaign_id        0
campaign_name      0
start_date       332
end_date           0
channel          100
impressions        0
clicks             0
spend              0
conversions      200
active             0
campaign_tag       0
dtype: int64
------------------------------
None

Missing value after cleaning:
 campaign_id      0
campaign_name    0
start_date       0
end_date         0
channel          0
impressions      0
clicks           0
spend            0
conversions      0
active           0
campaign_tag     0
dtype: int64
Dataframe shape after removing missing vlaues: (1416, 11)

In [331]:
# ==================================
# "Impression vs. Clicks" Logical
# ==================================

messy_data_mask = clean_df["clicks"] > clean_df["impressions"]

print(clean_df.loc[messy_data_mask, ["campaign_id", "impressions", "clicks"]].head(3))

Empty DataFrame
Columns: [campaign_id, impressions, clicks]
Index: []

In [332]:
# ==================================
# Start Date and End Date
# ==================================

date_mask = clean_df["start_date"] > clean_df["end_date"]

print(clean_df.loc[date_mask, ["campaign_id", "start_date", "end_date"]].head(3))

clean_df.loc[date_mask, "end_date"] = clean_df.loc[date_mask, "start_date"] + pd.Timedelta(days=30)
print("\nFIX Applied")
print(clean_df.loc[date_mask, ["campaign_id", "start_date", "end_date"]].head(3))

    campaign_id start_date   end_date
23    CMP-00024 2023-05-06 2023-05-01
54    CMP-00055 2023-09-01 2023-08-27
200   CMP-00201 2023-01-11 2023-01-06

FIX Applied
    campaign_id start_date   end_date
23    CMP-00024 2023-05-06 2023-06-05
54    CMP-00055 2023-09-01 2023-10-01
200   CMP-00201 2023-01-11 2023-02-10

## Features Engineering

In [333]:
# ==================================================
# Extracting "season" from "campaign_name" column
# ==================================================

print("=== campaign_name ===\n")
print("Before cleaning:")
print(clean_df["campaign_name"].head(3))

print("\nAfter cleaning:")
clean_df["season"] = clean_df["campaign_name"].str.extract(r"_(.*?)[_-]")
print(clean_df[["campaign_name", "season"]].head(3))

=== campaign_name ===

Before cleaning:
0    Q4_Summer_CMP-00001
1    Q1_Launch_CMP-00002
2    Q3_Winter_CMP-00003
Name: campaign_name, dtype: object

After cleaning:
         campaign_name  season
0  Q4_Summer_CMP-00001  Summer
1  Q1_Launch_CMP-00002  Launch
2  Q3_Winter_CMP-00003  Winter

## Outliers Detection & Handling

In [334]:
# Outliers detection and handling functions
def cap_outliers(dataframe):
    capped_df = dataframe.copy()
    numerical_cols = capped_df.select_dtypes(include="number").columns
    
    outlier_report = {}

    print("\n========= OUTLIER CAPPING REPORT =========")

    for col in numerical_cols:

        Q1 = capped_df[col].quantile(0.25)
        Q3 = capped_df[col].quantile(0.75)
        IQR = Q3 - Q1

        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR

        # Outliers BEFORE
        before_mask = (capped_df[col] < lower_bound) | (capped_df[col] > upper_bound)
        before_count = before_mask.sum()

        # ‚ùó Skip this column if no outliers
        if before_count == 0:
            continue

        # Cap values
        capped_df[col] = capped_df[col].clip(lower_bound, upper_bound)

        # Outliers AFTER
        after_mask = (capped_df[col] < lower_bound) | (capped_df[col] > upper_bound)
        after_count = after_mask.sum()

        # Store only columns that had outliers
        outlier_report[col] = {
            "before": before_count,
            "after": after_count,
            "lower_bound": lower_bound,
            "upper_bound": upper_bound
        }

        # Print only meaningful columns
        print(f"\n=== {col} ===")
        print(f"Lower Bound: {lower_bound:.2f}, Upper Bound: {upper_bound:.2f}")
        print(f"Outliers before: {before_count}")
        print(f"Outliers after:  {after_count}")

    print("\n========= END OF REPORT =========")

    return capped_df, outlier_report

In [335]:
# Outliers detection and handling
capped_df, report = cap_outliers(clean_df)

========= OUTLIER CAPPING REPORT =========

=== clicks ===
Lower Bound: -1679.88, Upper Bound: 4533.12
Outliers before: 5
Outliers after:  0

=== spend ===
Lower Bound: -2321.29, Upper Bound: 5558.46
Outliers before: 57
Outliers after:  0

=== conversions ===
Lower Bound: -219.50, Upper Bound: 544.50
Outliers before: 71
Outliers after:  0

========= END OF REPORT =========

In [336]:
# ========================================
# Cleaned Dataset
# ========================================
print(f"Cleaned Dataframe Shape: {clean_df.shape}")

display(clean_df.head())

Cleaned Dataframe Shape: (1416, 12)

,campaign_id,campaign_name,start_date,end_date,channel,impressions,clicks,spend,conversions,active,campaign_tag,season
0,CMP-00001,Q4_Summer_CMP-00001,2023-11-24,2023-12-13,TikTok,16795,197,102.82,20.0,True,TI,Summer
1,CMP-00002,Q1_Launch_CMP-00002,2023-05-06,2023-05-12,Facebook,1860,30,24.33,1.0,False,FA,Launch
2,CMP-00003,Q3_Winter_CMP-00003,2023-12-13,2023-12-20,Email,77820,843,1323.39,51.0,False,EM,Winter
4,CMP-00005,Q2_Winter_CMP-00005,2023-04-22,2023-04-23,Facebook,7265,169,252.44,30.0,True,FA,Winter
6,CMP-00007,Q3_Launch_CMP-00007,2023-10-07,2023-10-23,Facebook,38194,1135,1232.76,178.0,True,FA,Launch